/* login*/

.login-container {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  

/* singup*/


  .signup-container {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
/*dashboard*/


  header {
    background-color: #3b5998;
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .dashboard-container {
    display: flex;
  }
  
  .left-column, .right-column {
    width: 50%;
    padding: 20px;
  }
  
  .profile-card img {
    width: 100%;
  }
  
  .news-feed, .friends-list, .events {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  /* forgot password*/

  /*form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  